<main class="mdl-layout__content">
  <div class="site-content">
    <div class="container">

      <section class="section--center mdl-grid site-max-width">
        <header class="section__play-btn mdl-cell mdl-cell--5-col-desktop mdl-cell--3-col-tablet mdl-cell--4-col-phone mdl-shadow--4dp">
          <div class="col s12 m7 center-align">
            <h4 class="header" id="header">Where is there?</h4>
            <div class="card">
              <div class="card-image">
                <img src="https://lh3.googleusercontent.com/MOf9Kxxkj7GvyZlTZOnUzuYv0JAweEhlxJX6gslQvbvlhLK5_bSTK6duxY2xfbBsj43H=w300">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <p>Address</p>
                </div>
                <div class="card-action">
                  <a href="#">Link</a>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="mdl-card mdl-cell mdl-cell--7-col-desktop mdl-cell--5-col-tablet mdl-cell--4-col-phone  mdl-shadow--4dp">
          <div class="row center-align">
            <form class="col s12">
              <div class="row valign-wrapper">
                <div class="input-field col s12">
                  <textarea id="textarea1" class="materialize-textarea" data-length="120"></textarea>
                  <label for="textarea1">Course 1</label>
                </div>
                <div class="fixed-action-btn horizontal">
                  <a class="btn-floating btn-tiny right blue lighten-2">
                    <i class="small material-icons">mode_edit</i>
                  </a>
                  <ul>
                    <li><a class="btn-floating center-align">Edit</a></li>
                    <li><a class="btn-floating center-align">Delete</a></li>
                  </ul>
                </div>
              </div>
              <div class="row valign-wrapper">
                <div class="input-field col s12">
                  <textarea id="textarea1" class="materialize-textarea" data-length="120"></textarea>
                  <label for="textarea1">Course 2</label>
                </div>
                <div class="fixed-action-btn horizontal">
                  <a class="btn-floating btn-tiny right blue lighten-2">
                    <i class="small material-icons">mode_edit</i>
                  </a>
                  <ul>
                    <li><a class="btn-floating center-align">Edit</a></li>
                    <li><a class="btn-floating center-align">Delete</a></li>
                  </ul>
                </div>

              </div>
              <div class="row valign-wrapper">
                <div class="input-field col s12">
                  <textarea id="textarea1" class="materialize-textarea" data-length="120"></textarea>
                  <label for="textarea1">Course 3</label>
                </div>
                <div class="fixed-action-btn horizontal">
                  <a class="btn-floating btn-tiny right blue lighten-2">
                    <i class="small material-icons">mode_edit</i>
                  </a>
                  <ul>
                    <li><a class="btn-floating center-align">Edit</a></li>
                    <li><a class="btn-floating center-align">Delete</a></li>
                  </ul>
                </div>

              </div>
              <div class="row valign-wrapper">
                <div class="input-field col s12">
                  <textarea id="textarea1" class="materialize-textarea" data-length="120"></textarea>
                  <label for="textarea1">Course 4</label>
                </div>
                <div class="fixed-action-btn horizontal">
                  <a class="btn-floating btn-tiny right blue lighten-2">
                    <i class="small material-icons">mode_edit</i>
                  </a>
                  <ul>
                    <li><a class="btn-floating center-align">Edit</a></li>
                    <li><a class="btn-floating center-align">Delete</a></li>
                  </ul>
                </div>

              </div>
              <div class="row valign-wrapper">
                <div class="input-field col s12">
                  <textarea id="textarea1" class="materialize-textarea" data-length="120"></textarea>
                  <label for="textarea1">Course 5</label>
                </div>
                <div class="fixed-action-btn horizontal">
                  <a class="btn-floating btn-tiny right blue lighten-2">
                    <i class="small material-icons">mode_edit</i>
                  </a>
                  <ul>
                    <li><a class="btn-floating center-align">Edit</a></li>
                    <li><a class="btn-floating center-align">Delete</a></li>
                  </ul>
                </div>

              </div>
              <div class="row valign-wrapper">
                <div class="input-field col s12">
                  <textarea id="textarea1" class="materialize-textarea" data-length="120"></textarea>
                  <label for="textarea1">Course 6</label>
                </div>
                <div class="fixed-action-btn horizontal">
                  <a class="btn-floating btn-tiny right blue lighten-2">
                    <i class="small material-icons">mode_edit</i>
                  </a>
                  <ul>
                    <li><a class="btn-floating center-align">Edit</a></li>
                    <li><a class="btn-floating center-align">Delete</a></li>
                  </ul>
                </div>

              </div>
              <a class="btn-floating btn-small waves-effect waves-light blue lighten-2"><i class="material-icons">add</i></a>

            </form>
          </div>
        </div>

      </section>

      <section class="section--center mdl-grid site-max-width center-align">
        <div class=" mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone" id="preivew">Preview your course</div>

        <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone  mdl-shadow--4dp">
          <div class="row center-align">
            <form class="col s12">
              <div class="col s3"></div>
            </form>
          </div>
        </div>

      </section>




      <section class="section--center mdl-grid site-max-width homepage-portfolio">
        <a class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect mdl-button--accent blue lighten-2" href="portfolio.html">Push your hang-out course</a>
      </section>

    </div>
  </div>
  <footer class="mdl-mini-footer blue-text text-darken-2 white">
    <div class="footer-container blue-text text-darken-2">
      <div class="mdl-logo blue-text text-darken-2">&copy; Unitiled. Design: <a href="https://templateflip.com/" target="_blank" class="blue-text text-darken-2">TemplateFlip</a></div>
      <ul class="mdl-mini-footer__link-list blue-text text-darken-2">
        <li><a href="#">Privacy & Terms</a></li>
      </ul>
    </div>
  </footer>
</main>

<style>


  .fixed-action-btn {
    position: relative;

  }

  .fixed-action-btn.horizontal {
    padding: 50px 0 0 15px;
  }

  .fixed-action-btn.horizontal ul li {

    margin: 50px 15px 0 0;
  }
  .mdl-cell--5-col-desktop.mdl-cell--5-col-desktop {
    padding: 15px;
  }
  .mdl-cell--7-col-desktop.mdl-cell--7-col-desktop {
    padding: 15px;
  }
  .card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    margin-right: 0px;
  }

  .btn-floating.center-align {
    font-size:12px;
  }

  #preivew {
    font-size:2rem;
  }

  #header{
    font-size:2rem;
  }

  .site-navigation-row .mdl-navigation {

    background-color: rgba(0,0,0,0);
  }
  .mdl-layout__header{
    background-color: white;
  }
  .mdl-layout__header-row{
    background-color: white;
  }
</style>

<script>
    $(document).ready(function(){
        $('.slider').slider();
    });
</script>

            
