<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header"><a href="/home/contact" id="contact-button" class="mdl-button mdl-button--fab mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast mdl-shadow--4dp"><i class="material-icons">mail</i></a>
  <header class="mdl-layout__header mdl-layout__header--waterfall site-header">
    <div class="mdl-layout__header-row site-logo-row"><span class="mdl-layout__title">
            <div class="site-logo"></div>
          <span class="site-description">Shall we go?</span></span></div>
    <div class="mdl-layout__header-row site-navigation-row mdl-layout--large-screen-only">
      <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
        <a class="mdl-navigation__link" href="/home/template1">Hang-outs</a>
        <a class="mdl-navigation__link" href="/home/template2">Waiting foreign students</a>
        <a class="mdl-navigation__link" href="/home/template3">Pending hang-outs</a>
        <a class="mdl-navigation__link" href="/home/template4">Create a hang-out</a>
        <a class="mdl-navigation__link" href="/home/template5">My account</a>
        <a class="mdl-navigation__link" href="/home/template6">Support</a>
        <a class="mdl-navigation__link" href="/home/template7">Message</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer mdl-layout--small-screen-only">
    <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
      <a class="mdl-navigation__link" href="index.html">Home</a>
      <a class="mdl-navigation__link" href="portfolio.html">Portfolio</a>
      <a class="mdl-navigation__link" href="about.html">About</a>
      <a class="mdl-navigation__link" href="contact.html">Contact</a>
    </nav>
  </div>

  <main class="mdl-layout__content">
    <div class="site-content">
      <div class="container">
        <div class="slider">
          <ul class="slides">
            <li>
              <%= image_tag('614678.jpg') %>
              <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
              </div>
            </li>
            <li>
              <%= image_tag('portfolio2.jpg') %>
              <div class="caption left-align">
                <h3>Left Aligned Caption</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
              </div>
            </li>
            <li>
              <%= image_tag('portfolio3.jpg') %>
              <div class="caption right-align">
                <h3>Right Aligned Caption</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
              </div>
            </li>
            <li>
              <%= image_tag('portfolio4.jpg') %>
              <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
              </div>
            </li>
          </ul>
        </div>
      </div>


    </div>

    <footer class="mdl-mini-footer">
      <div class="footer-container">
        <div class="mdl-logo">&copy; Unitiled. Design: <a href="https://templateflip.com/" target="_blank">TemplateFlip</a></div>
        <ul class="mdl-mini-footer__link-list">
          <li><a href="#">Privacy & Terms</a></li>
        </ul>
      </div>
    </footer>
  </main>
</div>
