<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header"><a href="contact.html" id="contact-button" class="mdl-button mdl-button--fab mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast mdl-shadow--4dp"><i class="material-icons">mail</i></a>

  <header class="mdl-layout__header mdl-layout__header--waterfall site-header">
    <div class="mdl-layout__header-row site-logo-row"><span class="mdl-layout__title">
            <div class="site-logo">
              <%= image_tag('site-logo.png') %>
            </div>
          <span class="site-description">Shall we go?</span></span></div>
    <div class="mdl-layout__header-row site-navigation-row mdl-layout--large-screen-only">
      <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
        <a class="mdl-navigation__link" href="/home/template1">Hang-outs</a>
        <a class="mdl-navigation__link" href="/home/template2">Waiting foreign students</a>
        <a class="mdl-navigation__link" href="/home/template3">Pending hang-outs</a>
        <a class="mdl-navigation__link" href="/home/template4">Create a hang-out</a>
        <a class="mdl-navigation__link" href="/home/template5">My account</a>
        <a class="mdl-navigation__link" href="/home/template6">Support</a>
        <a class="mdl-navigation__link" href="/home/template7">Message</a>
      </nav>
    </div>

  </header>

  <div class="mdl-layout__drawer mdl-layout--small-screen-only">
    <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
      <a class="mdl-navigation__link" href="/home/template1">Home</a>
      <a class="mdl-navigation__link" href="/home/template1">Hang-outs</a>
      <a class="mdl-navigation__link" href="/home/template2">Waiting foreign students</a>
      <a class="mdl-navigation__link" href="/home/template3">Pending hang-outs</a>
      <a class="mdl-navigation__link" href="/home/template4">Create a hang-out</a>
      <a class="mdl-navigation__link" href="/home/template5">My account</a>
      <a class="mdl-navigation__link" href="/home/template6">Support</a>
      <a class="mdl-navigation__link" href="/home/template7">Message</a>
    </nav>
  </div>

  <main class="mdl-layout__content">
    <div class="site-content">
      <div class="mdl-grid site-max-width">
        <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp page-content">
          <div class="collection">
            <a href="#!" class="collection-item">Alvin</a>
            <a href="#!" class="collection-item active">Alvin</a>
            <a href="#!" class="collection-item">Alvin</a>
            <a href="#!" class="collection-item">Alvin</a>
          </div>
        </div>
        <!--<div class="mdl-grid site-copy">-->
          <!--<div class="mdl-cell mdl-cell&#45;&#45;12-col"><div class="mdl-card__supporting-text">-->
            <!--<p>Contact our team using the contact form below:</p>-->
            <!--<form action="https://formspree.io/email@example.com" method="POST" class="form-contact">-->
              <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label">-->
                <!--<input class="mdl-textfield__input" pattern="[A-Z,a-z, ]*" type="text" id="Name" name="name">-->
                <!--<label class="mdl-textfield__label" for="Name">Name...</label>-->
                <!--<span class="mdl-textfield__error">Letters and spaces only</span>-->
              <!--</div>-->
              <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label">-->
                <!--<input class="mdl-textfield__input" type="text" id="Email" name="_replyto">-->
                <!--<label class="mdl-textfield__label" for="Email">Email...</label>-->
              <!--</div>-->
              <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label">-->
                <!--<textarea class="mdl-textfield__input" type="text" rows="5" id="note" name="message"></textarea>-->
                <!--<label class="mdl-textfield__label" for="note">Enter note</label>-->
              <!--</div>-->
              <!--<p>-->
                <!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect mdl-button&#45;&#45;accent" type="submit">-->
                  <!--Submit-->
                <!--</button>-->
              <!--</p>-->
            <!--</form>-->
          <!--</div></div>-->
        <!--</div>-->
      </div>
    </div>
  </main>

</div>

<style>
  .page-content {
    padding-bottom: 0;
  }
  .site-navigation-row .mdl-navigation {

    background-color: rgba(0,0,0,0);
  }
</style>

<script>
    $(document).ready(function(){
        $('.slider').slider();
    });
</script>