<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header"><a href="/home/contact" id="contact-button" class="mdl-button mdl-button--fab mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast mdl-shadow--4dp"><i class="material-icons">mail</i></a>

  <header class="mdl-layout__header mdl-layout__header--waterfall site-header">
    <div class="mdl-layout__header-row site-logo-row"><span class="mdl-layout__title">
            <div class="site-logo"></div>
          <span class="site-description">Shall we go?</span></span></div>
    <div class="mdl-layout__header-row site-navigation-row mdl-layout--large-screen-only">
      <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
        <a class="mdl-navigation__link" href="/home/template1">Hang-outs</a>
        <a class="mdl-navigation__link" href="/home/template2">Waiting foreign students</a>
        <a class="mdl-navigation__link" href="/home/template3">Pending hang-outs</a>
        <a class="mdl-navigation__link" href="/home/template4">Create a hang-out</a>
        <a class="mdl-navigation__link" href="/home/template5">My account</a>
        <a class="mdl-navigation__link" href="/home/template6">Support</a>
        <a class="mdl-navigation__link" href="/home/template7">Message</a>
      </nav>
    </div>
  </header>

  <main class="mdl-layout__content">
    <div class="site-content">
      <div class="container">

        <section class="section--center mdl-grid site-max-width">
          <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white  mdl-shadow--4dp">
            <div class="col s12 m7">
              <h2 class="header">Horizontal Card</h2>
              <div class="card horizontal">
                <div class="card-image">
                  <img src="https://lorempixel.com/100/190/nature/6">
                </div>
                <div class="card-stacked">
                  <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.</p>
                  </div>
                  <div class="card-action">
                    <a href="#">This is a link</a>
                  </div>
                </div>
              </div>
            </div>
          </header>
          <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone  mdl-shadow--4dp">
            <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s6">
                    <input id="input_text" type="text" data-length="10">
                    <label for="input_text">Input text</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea" data-length="120"></textarea>
                    <label for="textarea1">Textarea</label>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </section>

        <div class="row">
          <div class="col s3">내가 만든 코스 미리보기</div>
          <div class="col s9">이미지</div>
        </div>



        <section class="section--center mdl-grid site-max-width homepage-portfolio">
          <a class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="portfolio.html">Push your hang-out course</a>
        </section>

        </div>
    </div>
    <footer class="mdl-mini-footer">
      <div class="footer-container">
        <div class="mdl-logo">&copy; Unitiled. Design: <a href="https://templateflip.com/" target="_blank">TemplateFlip</a></div>
        <ul class="mdl-mini-footer__link-list">
          <li><a href="#">Privacy & Terms</a></li>
        </ul>
      </div>
    </footer>
  </main>
</div>

<style>

  .mdl-cell--3-col, .mdl-cell--3-col-desktop.mdl-cell--3-col-desktop {
    width: calc(50% - 16px);

  }
  .mdl-cell--9-col, .mdl-cell--9-col-desktop.mdl-cell--9-col-desktop {
    width: calc(50% - 16px);
    padding: 10px;
  }
  .mdl-color-text--white {
    color: #000 !important;
    padding: 10px;
  }
  .mdl-color--teal-100 {
    background-color: rgba(255, 255, 255, 0.26) !important;
  }

</style>


            