<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <a href="/home/contact" id="contact-button" class="mdl-button mdl-button--fab mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast mdl-shadow--4dp blue lighten-2">
    <i class="material-icons">mail</i>
  </a>



  <header class="mdl-layout__header mdl-layout__header--waterfall site-header">


    <div class="mdl-layout__header-row site-logo-row">

            <span class="mdl-layout__title">

            <div class="site-logo">
               <%= image_tag('site-logo.png') %>
            </div>

            <span class="site-description">Shall we go?</span>

            </span>
    </div>


    <div class="mdl-layout__header-row site-navigation-row mdl-layout--large-screen-only">
      <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
        <a class="mdl-navigation__link" href="/home/template1">Hang-outs</a>
        <a class="mdl-navigation__link" href="/home/template2">Waiting foreign students</a>
        <a class="mdl-navigation__link" href="/home/template3">Pending <br> hang-outs</a>
        <a class="mdl-navigation__link" href="/home/template4">Create <br> a hang-out</a>
        <a class="mdl-navigation__link" href="/home/template5">My account</a>
        <a class="mdl-navigation__link" href="/home/template6">Support</a>
        <a class="mdl-navigation__link" href="/home/template7">Message</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
      <a class="mdl-navigation__link" href="/home/template1">Home</a>
      <a class="mdl-navigation__link" href="/home/template1">Hang-outs</a>
      <a class="mdl-navigation__link" href="/home/template2">Waiting foreign students</a>
      <a class="mdl-navigation__link" href="/home/template3">Pending hang-outs</a>
      <a class="mdl-navigation__link" href="/home/template4">Create a hang-out</a>
      <a class="mdl-navigation__link" href="/home/template5">My account</a>
      <a class="mdl-navigation__link" href="/home/template6">Support</a>
      <a class="mdl-navigation__link" href="/home/template7">Message</a>
    </nav>
  </div>

  <main class="mdl-layout__content">
    <div class="site-content">
      <div class="container">

          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header">Q&A</div>
              <div class="collapsible-body"><span> 시방 할 게 너무 많아요.</span></div>
            </li>
            <li>
              <div class="collapsible-header">Q&A</div>
              <div class="collapsible-body"><span> 마테리얼라이즈 누가 쉽다 했나</span></div>
            </li>
            <li>
              <div class="collapsible-header">Q&A</div>
              <div class="collapsible-body"><span> 사실 쉽긴 함 내가 멍청해서 그렇지</span></div>
            </li>
            <li>
              <div class="collapsible-header">Q&A</div>
              <div class="collapsible-body"><span> 시방 할 게 너무 많아요.</span></div>
            </li>
            <li>
              <div class="collapsible-header"> Q&A</div>
              <div class="collapsible-body"><span> 시방 할 게 너무 많아요.</span></div>
            </li>
            <li>
              <div class="collapsible-header">Q&A</div>
              <div class="collapsible-body"><span> 시방 할 게 너무 많아요.</span></div>
            </li>
            <li>
              <div class="collapsible-header">Q&A</div>
              <div class="collapsible-body"><span> 시방 할 게 너무 많아요.</span></div>
            </li>
            <li>
              <div class="collapsible-header">Q&A</div>
              <div class="collapsible-body"><span> 시방 할 게 너무 많아요.</span></div>
            </li>
            <li>
              <div class="collapsible-header">Q&A</div>
              <div class="collapsible-body"><span> 시방 할 게 너무 많아요.</span></div>
            </li>
            <li>
              <div class="collapsible-header">Q&A</div>
              <div class="collapsible-body"><span> 시방 할 게 너무 많아요.</span></div>
            </li>
            <li>
              <div class="collapsible-header">Q&A</div>
              <div class="collapsible-body"><span> 시방 할 게 너무 많아요.</span></div>
            </li>
            <li>
              <div class="collapsible-header">Q&A</div>
              <div class="collapsible-body"><span> 시방 할 게 너무 많아요.</span></div>
            </li>
            <li>
              <div class="collapsible-header">Q&A</div>
              <div class="collapsible-body"><span> 시방 할 게 너무 많아요.</span></div>
            </li>
            <li>
              <div class="collapsible-header">Q&A</div>
              <div class="collapsible-body"><span> 시방 할 게 너무 많아요.</span></div>
            </li>
            <li>
              <div class="collapsible-header">Q&A</div>
              <div class="collapsible-body"><span> 시방 할 게 너무 많아요.</span></div>
            </li>
            <li>
              <div class="collapsible-header">Q&A</div>
              <div class="collapsible-body"><span> 시방 할 게 너무 많아요.</span></div>
            </li>
          </ul>

        </div>
        <ul class="pagination center-align">
          <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
          <li class="active blue-text text-darken-2 blue lighten-1"><a href="#!">1</a></li>
          <li class="waves-effect"><a href="#!">2</a></li>
          <li class="waves-effect"><a href="#!">3</a></li>
          <li class="waves-effect"><a href="#!">4</a></li>
          <li class="waves-effect"><a href="#!">5</a></li>
          <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        </ul>

    </div>
    <footer class="mdl-mini-footer blue-text text-darken-2 white">
      <div class="footer-container blue-text text-darken-2">
        <div class="mdl-logo blue-text text-darken-2">&copy; Unitiled. Design: <a href="https://templateflip.com/" target="_blank" class="blue-text text-darken-2">TemplateFlip</a></div>
        <ul class="mdl-mini-footer__link-list blue-text text-darken-2">
          <li><a href="#">Privacy & Terms</a></li>
        </ul>
      </div>
    </footer>
  </main>

</div>

<style>
  .page-content {
    padding-bottom: 0;
  }
  .site-navigation-row .mdl-navigation {

    background-color: rgba(0,0,0,0);
  }
  .mdl-layout__content {
    padding: 50px;
    padding-top: 20px
  }
  .mdl-layout__header{
    background-color: white;
  }
  .mdl-layout__header-row{
    background-color: white;
  }
</style>

<script>
    $(document).ready(function(){
        $('.slider').slider();
    });
    $(document).ready(function(){
        $('.collapsible').collapsible();
    });

</script>