<p>안녕하세요 <%= @resource.name %>님!</p>

<p>저희 Shall We Go! 를 이용해주셔서 감사합니다. 비밀번호를 재설정하시려면</p>
<p><%= link_to '비밀번호 재설정', edit_password_url(@resource, reset_password_token: @token) %>을 클릭해주세요</p>
<p>감사합니다.</p>
